*{
  font-family: 'Roboto', sans-serif;
}
.navbar{
  background-color: #006699;
  border-radius: 0!important;
  margin-bottom: 0!important;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #337ab7!important;
}
a:focus, a:hover {
  color: white!important;
}
span.glyphicon.glyphicon-menu-hamburger{
  color: white;
}
.logo{
  color:white;
  border-top: 4px solid #fcb100;
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: none!important;
    color: white;
}
.content img{
  width: 100%;
}
.content-title {
    text-align: center;
    font-weight: 800;
    color:#0073b6;
    padding: 10px 0px;
}
.content-title span{
  font-size: 20px;
    font-weight: 800;
    border-bottom: 4px solid #fcb100;
    padding-bottom: 10px;
}
.room-img{
  background: url(../images/room.png) no-repeat ;
  background-size: cover;
  height: 240px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.29);
}
.row-room{
  margin-top: 25px;
  border-radius: 10px ;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.29);
  width: 100%;
  margin-left: 0!important;
}
.room>p{
  font-size: 18px;
  color: #04bced;
  font-weight: 600;
  padding-top: 8px;
  text-align: center;
}
.testimonials p:first-child{
  font-size: 18px;
  color: #04bced;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 10px;
}
.testimonials p{
  color: #0073b6;
  padding-left: 10px;
}
.testimonials p:last-child{
  color: black;
  padding-left: 10px;
}
.last-testimonials{
margin-top: 10px;
}
span.glyphicon.glyphicon-calendar {
    padding-right: 10px;
}
.content-room>p{
      color: #0073b6;
}
.content-room p span  {
    padding-right: 10px;
}
.last{
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
.last span{
  padding: 0!important;
}

a.btn.btn-more {
    color: white;
    background-color: #0073b6;
    border-radius: 5px;
    padding: 6px 30px;
    display: inline-block;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
span.glyphicon.glyphicon-chevron-right{
  padding-left: 10px;
}
.detail-wrap {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
footer{
  background-color: #006699;
}
footer p{
  color: white;
}
.social{
  display: inline-block;
  border-radius: 25px;
  float: right;
  margin: 15px 5px 0 5px;
}
.center{
  text-align: center;
}
.left{
  float: left;
}
.right{
  float: right;
}
.foot-menu{
  display: inline-block;
}

.img-wrap {
    position: relative;
}
.form{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.form-content{
  padding: 0 60px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
.icon{
  position: relative;
  top: -20px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 20px;
  border: 2px solid #fcb100;
}
.icon img{
  width: 14px;
}
.form-title p{
  display: inline-block;
  color: #0073b6;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.form-title p:before{
  position: absolute;
  content: '';
  width: 40px;
  height: 4px;
  background: #fcb100;
  border-radius: 2px;
  left:0px;
  right: 0px;
  margin: auto;
  top: 30px;
}
.form-input{
  margin: 30px 0 0 0;
}
.form-input input{
  width: 255px;
  border: none;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  margin: 10px 10px;
}
.form-button{
  position: relative;
  top: 20px;
  border: 0;
  display: inline-block;
  background-color: #0073b6;
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
.img-back{
  background: url(../images/pic1.png) no-repeat;
  height: 100vh;
  background-size: cover;
  background-position-x: center;
}
.img-back h1{
  color: white;
  text-align: center;
  top: 50%;
  font-weight: 600;
  letter-spacing: 8px;
  position: relative;
}
.img-back h1:before{
  position: absolute;
  content: '';
  width: 200px;
  height: 4px;
  background: #fcb100;
  border-radius: 2px;
  left:0px;
  right: 0px;
  top: -20px;
  margin: auto;
}
.contact-content {
  text-align: center;
  padding-top: 30px;
}
.contact-content p{
  font-weight: 600;
  font-size: 14px;
  color: #006699;
  letter-spacing: 2px;
      margin: 0;
}
.contact-content p:last-child{
  padding-bottom: 20px;
}
.map{
  padding-top: 10px;
  padding-bottom: 20px;
}
.map iframe{
  width: 100%;
}
.news-wrap{
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.news-wrap p:first-child{
  font-size: 20px;
  color: #0073b6;
  font-weight: 600;
}
.last-news-p{
  font-size: 12px;
  color: black;
  text-align: justify;
  margin-top: 20px;
}
.news-wrap p:before{
  position: absolute;
  content: '';
  width: 60px;
  height: 4px;
  background: #fcb100;
  border-radius: 2px;
  left:0px;
  right: 0px;
  top: 45px;
  margin: auto;
}
.news-wrap>.glyphicon{
  margin-top:20px;
  margin-bottom: 20px;
  color:#0073b6;
}
.news-button{
  display: inline-block;
  background-color: #0073b6;
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
.room-button{
  display: inline-block;
  background-color: #0073b6;
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.room-content{
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
.room-content p:first-child{
  display: inline-block;
  font-size: 24px;
  color: #04bced;
  font-weight: 600;
}

#largeImg {
  width: 100%;
  height: 450px;
  padding-bottom: 5px;
}

#thumbs{
  display: flex;
}
#thumbs a {
  width: 100%;
}

#thumbs a:hover {
  border-color: #FF9900;
}
img#largeImg {
    margin-top: 20px;
}
.nopadding{
  padding: 0!important;
}
.blue{
  color:#0073b6;
}
.desc-room{
  padding: 20px 0;
}
.room-testimonials{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px ;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.29);
  width: 70%;
  padding: 10px 20px;
}


.dropdown {

}
.btn-dropdown {
  margin: 2px 10px;
  width: auto;
  padding: 2px 10px !important;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.btn-dropdown:hover{
  background-color: #337ab7;
  color: white!important;
}
.btn-dropdown:active{
  color: white!important;
}
.btn-dropdown:focus{
  color: white!important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background-color: #337ab7!important;
  background-image: none!important;
}
.drop-image{
  height: 40px;
  width: 40px;
  float: right;
  background-position-x: center;
  border: 2px solid white;
  border-radius: 20px;
}
.drop-text{
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.intro{
    padding-bottom: 20px;
}
.unavailable-block{
  height: 20px;
  width: 40px;
  background-color: #C55762;
  margin: 0;
  display: inline-block;
}
.available-block{
  height: 20px;
  width: 40px;
  background-color: #00EA00;
  margin: 0;
  display: inline-block;
}
.button-group{
  padding-top: 20px;
}
.button-group button{
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #006699; /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border: 0;
}
.button-group button:hover{
  background: rgb(232,95,76);
}
.button-group button:active{
  background: rgb(152,15,0);
}
.form-testimonials{
  text-align: -webkit-center;
      padding: 10px 0 20px 0;
}
